* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.df,
.dfcc {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
}
.dfc {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.dfcc {
  justify-content: center;
}

.left {
  width: 40%;
  background-color: #b5cde1;
}

.circle-container {
  width: 100%;
  height: 40vh;
}

.big-circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: rgb(39, 39, 117);
  color: white;
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.highlight {
  width: 70%;
  background-color: #3c3d3d;
  color: white;
  padding-left: 10%;
  height: 40px;
}

.icon {
  justify-content: end;
  width: 30%;
  padding-right: 1.5rem;
  font-size: 2rem;
}

.para {
  padding: 8% 16%;
  font-size: 1.25rem;
}

.small-circle {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #0e161d;
  color: white;
}

.gap {
  gap: 10px;
  margin: 0.8rem 0rem;
}

.level {
  height: 0.7rem;
  width: 80%;
  background-color: #0e161d;
}
.level-div {
  height: 0.7rem;
  width: 100%;
  background-color: white;
  margin: 8px 0px;
}

.circle {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #0e161d;
}
.right {
  width: 60%;
}

.title-div {
  height: 40vh;

  padding: 40px;
}

.title-div > h1 {
  font-size: 3rem;
  margin: 30px 0px;
}

.title-div > h4 {
  font-size: 1.25rem;
}

.js {
  justify-content: space-between;
  margin-top: 2rem;
}

.list {
  padding-left: 2rem;
  margin: 1rem 0rem;
}

#title {
  margin-top: 8px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#white {
  color: white;
}

@media screen and (max-width: 880px) {
  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }
  .big-circle {
    width: 7rem;
    height: 7rem;

    padding: 1rem;
    font-size: 1rem;
  }
  div,
  p {
    font-size: 16px;
  }

  .para {
    padding: 4% 8%;
  }

  .highlight {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
  }
  .email {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .small-circle {
    width: 1.25rem;
    height: 1.25rem;
  }
  div,
  p {
    font-size: 12px;
  }

  .para {
    padding: 2% 4%;
  }
}
